.content {
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.group {
    width: 840px;
    margin: 10px 0;
    background-color: rgb(234, 234, 234);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: center;
}

.header .stockwerk {
    margin: 0 40px;
    color: #409443;
}

.header .stockwerk h1 {
    font-size: 40px;
    margin: 30px 0;
}

.header .floors {
    display: flex;
    align-items: center;
}

.floors .f-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 5px 0 5px;
}

.floors .selected {
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.floors .f-wrapper .floor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    border-style: solid;
    margin: 4px;
    color: #4caf50;
}

.group .box {
    border-radius: 25px;
    background-color: white;
    padding: 0 0 30px 0;
}

.group .box .b-wrapper {
    display: none;
}

.group .box .selected {
    display: flex;
    flex-direction: column;
}

.group .box .b-wrapper h2 {
    margin: 40px 25px 20px 25px;
    font-size: 30px;
}

.group .box .b-wrapper p {
    margin: 0 30px 0 40px;
    font-size: 20px;
}

@media screen and (max-width: 940px) {
    .group {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .group .box {
        border-radius: 15px 15px 25px 25px;
    }

    .header .floors .f-wrapper .floor {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .group .box .b-wrapper h2 {
        margin: 40px 25px 20px 25px;
        font-size: 25px;
    }
    
    .group .box .b-wrapper p {
        margin: 0 30px 0 40px;
        font-size: 14px;
    }
}