.content {
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.aktuelles {
    
}

.weekly {
    width: 840px;
    height: 2000px;
    margin: 25px 0 10px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}