.content {
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.group {
    width: 840px;
    margin: 10px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

.group:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    text-align: center;
    margin: 15px 0;
    font-size: 30px;
    line-height: 26px;
}

.toggle {
    display: flex;
    margin: 4px 0 0 10px;
}

.toggle .element {
    background-color: black;
    width: 4px;
    height: 20px;
    margin: 0 4px;
    transition: .5s;
}

.toggle .l {
    transform: rotate(-45deg);
}

.toggle .r {
    transform: rotate(45deg);
}

.selected .header .toggle .l {
    transform: rotate(45deg);
}

.selected .header .toggle .r {
    transform: rotate(-45deg);
}

.divider {
    height: 2px;
    background-color: #4caf50;
    margin: 10px;
}

.group .list {
    display: none;
    padding-bottom: 20px;
}

.selected .list {
    display: unset;
}

.selected .list h2 {
    margin: 40px 25px 10px 25px;
    font-size: 25px;
    line-height: 25px;
}

.selected .list h3 {
    margin: 26px 30px 8px 40px;
    font-size: 20px;
}

.selected .list p {
    margin: 0 30px 0 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

@media screen and (max-width: 940px) {
    .group {
        width: 100%;
    }
}