.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}   

.linie {
    width: 80%;
    height: 1px;
    margin: 0 10%;
    background-color: white;
}

.content .wrapper {
    margin: 70px 50px;
    background-color: white;
    width: 840px;
    border-radius: 30px;
    padding: 10px 0px;
}

.content .wrapper .items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content .wrapper .items .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.content .wrapper .items .beschreibung {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 0;
}

.content .wrapper .items .bilder img{
    width: 700px;
    margin: 30px 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.content .wrapper .items .bilder img {
    overflow: hidden;

}

.content .wrapper .items .bilder img:hover {
    transition: all 0.2s;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.5);
}

.content .wrapper .items .beschreibung {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 940px) {
    .content .wrapper {
        width: 100%;
    }

    .content .wrapper .items .name {
        font-size: 25px;
    }
}

@media screen and (max-width: 840px) {
    .content .wrapper .items .bilder img {
        overflow: hidden;
    }
    
    .content .wrapper .items .bilder img{
        width: 550px;
    }
}

@media screen and (max-width: 660px) {
    .content .wrapper .items .bilder img {
        overflow: hidden;
    } 
    
    .content .wrapper .items .bilder img{
        width: 450px;
    }

    .content .wrapper .items .beschreibung {
        font-size: 20px;
    }
}

@media screen and (max-width: 530px) {
    .content .wrapper .items .bilder img {
        overflow: hidden;
    } 
    
    .content .wrapper .items .bilder img{
        width: 350px;
    }

    .content .wrapper .items .name {
        font-size: 20px;
    }

    .content .wrapper .items .beschreibung {
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {
    .content .wrapper .items .bilder img {
        overflow: hidden;
    } 
    
    .content .wrapper .items .bilder img{
        width: 250px;
    }

    .content .wrapper .items .name {
        font-size: 15px;
    }

    .content .wrapper .items .beschreibung {
        font-size: 10px;
    }
}