.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.content .wrapper {
    margin: 70px 50px;
    background-color: white;
    width: 840px;
    border-radius: 30px;
    padding: 10px 0px;
}

.content .wrapper .name {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.content .wrapper .name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-decoration:none;
}

.content .wrapper .items {
    display: flex;
    margin: 50px 50px;
    flex-direction: column;
    align-items: center;
}

.content .wrapper .items .beschreibung {
    text-align: center;
    padding: 0 15px;
    margin: 15px 10px;
}

.content .wrapper .items .mehr a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-decoration:none;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: black;
}

.content .wrapper .items .bilder img {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.content .wrapper .items .bilder img:hover {
    transition: all 0.2s;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.5);
    border-radius: 30px;
}

@media screen and (max-width: 940px) {
    .content .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .content .wrapper .items .bilder img {
        width: 550px;
    }
}

@media screen and (max-width: 660px) {
    .content .wrapper .items .bilder img {
        width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .content .wrapper .items .bilder img {
        width: 350px;
    }
}

@media screen and (max-width: 380px) {
    .content .wrapper .items .bilder img {
        width: 250px;
    }
}