html {
    font-family: sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #4caf50;
}

::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    border-radius: 100px;
    background-image: linear-gradient(180deg, rgb(54, 146, 57) 0%, rgb(9, 83, 12) 99%);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, rgb(44, 120, 46) 0%, rgb(9, 83, 12) 99%);
}


.content {
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.content .wrapper .group {
    width: 840px;
    margin: 10px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

.content .wrapper .group:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.content .wrapper .group h1 {
    text-align: center;
    margin: 15px 0;
    font-size: 30px;
    line-height: 26px;
}

.content .wrapper .group .list {
    padding-bottom: 20px;
    text-align: justify;
}

.content .wrapper .group .list p {
    margin: 8px 30px 5px 30px;
    font-size: 16px;
    line-height: 24px;
}

.content .wrapper .group .list h2 {
    margin: 40px 25px 10px 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: initial;
}

.content .wrapper .group .list h3 {
    margin: 26px 20px 8px 20px;
    font-size: 20px;
}

.content .wrapper .group .list ul li h3 {
    margin: 12px 0 4px 0;
    font-size: 20px;
}

.content .wrapper .group .list img {
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
}

.content .wrapper .group .divider {
    height: 2px;
    background-color: #4caf50;
    margin: 10px;
}

.content .wrapper .group .list p a {
    color: rgb(76, 76, 241);
    text-decoration: none;
}

.content .wrapper .group .list .green {
    color: #2dad13;
}

.content .wrapper .group .list ul {
    margin: 8px 30px 5px 30px;
    padding: 0 0 0 15px;
}

.content .wrapper .group .list ul li {
    font-size: 16px;
    line-height: 24px;
}


.body {
    margin: 0;
    color: #333;
    background-color: #e0e0e0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
}

.body.darkmode {
    color: #bfbfbf;
    background-color: #252424;
}

.body.darkmode .content .wrapper .group {
    color: #d3d3d3;
    background-color: #2f2f2f;
}

.body.darkmode .content .wrapper .group .box {
    color: #d3d3d3;
    background-color: #212121;
}

.body.darkmode .content .wrapper .blogpost {
    color: #d3d3d3;
    background-color: #2f2f2f;
}

.body.darkmode .content .plan-wrapper .plan {
    color: #d3d3d3;
    background-color: #2f2f2f;
}


/*Pläne select button color change*/
.body.darkmode .content .wrapper .group .h-wrapper .days .selected {
    color: #d3d3d3;
    background-color: #212121;
}
.body.darkmode .content .wrapper .group .h-wrapper .floors .selected {
    color: #d3d3d3;
    background-color: #212121;
}


.nav {
    background-color: #4caf50;
    margin: 0 auto;
    position: sticky;
    top: 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
}

.nav-logo-long {
    display: none;
    margin: 10px 0;
}

.nav-logo-long img {
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
}

.nav-container {
    background-color: rgba(0, 0, 0, 0);
}

.nav-elements {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 40px;
    list-style: none;
}

.nav-link {
    color: #1a1b1f;
    letter-spacing: .25px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px;
    padding: 10px 10px;
    text-decoration: none;
    background:
    linear-gradient(
      to right,
      #4caf50,
      #4caf50
    ),
    linear-gradient(
      to right,
      #2e3036,
      #2e3036
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.nav-link:hover {
    background-size: 0 2px, 100% 2px;
}

.nav-dropdown {
    cursor: pointer;
}

.nav-divider {
    width: 1px;
    height: 22px;
    background-color: #e4ebf3;
    margin: 0 15px;
}

.nav-button {
    color: #fff;
    letter-spacing: 2px;
    line-height: inherit;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6CAF50;
    border: 0;
    border-radius: 5px;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: all 0.2s;
    margin-left: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.nav-button:hover {
    background-color: #236425;
}

.nav-dropdown {
    display: none;
    justify-content: center;
}

.nav-big-dropdown {
    display: none;
}

.nav-big-dropdown-text {
    cursor: pointer;
}

.nav-sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    margin-top: 30px;
    width: 130px;
    padding: 0;
    overflow: hidden;
}

.nav-sub-menu a {
    display: block;
    background-color: lightgreen;
    width: 100px;
    text-decoration: none;
    color: #1a1b1f;
    letter-spacing: .25px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    transition: .5s;
    position: relative;
    left: 100%;
}

.nav-sub-menu.show a {
    left: 0;
}


.top {
    display: flex;
    justify-content: space-between;
}


.placeholder {
    height: 0px;
    width: 0px;
    margin: 80px 0 0 80px;
}


.countdown {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.countdown .wrapper {
    display: block;
    margin: 10px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.body.darkmode .countdown .wrapper {
    background-color: #2f2f2f;
}

.countdown .text {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.countdown .boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 20px;
}

.countdown .count {
    background-color: #6CAF50;
    padding: 12px;
    margin: 2px;
    font-size: 26px;
    border-radius: 8px;
    text-align: center;
}

.body.darkmode .countdown .count {
    color: #1a1b1f;
}

.countdown .box p {
    margin: 1px 1px 12px 1px;
    text-align: center;
    font-size: 10px
}


.dmtoggle {
    height: 60px;
    width: 60px;
    margin: 20px 20px 0 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dmtoggle .switch {
    display: block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: #c5c5c5;
    border-radius: 50%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25), inset 5px 0px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-image: url(../img/darkmode.png);
    background-size: 95%;
    background-position: center;
}

.darkmode .dmtoggle {
    background-color: #2f2f2f;
}

.darkmode .dmtoggle .switch {
    background-image: url(../img/lightmode.png);
    background-color: #787878;
}


.footer {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: #e4ebf3;
}

.footer-info {
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer-blocks {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-top: 50px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.footer-link {
    color: #1a1b1f;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.body.darkmode .footer-link {
    color: #f3f3f3;
}

.footer-divider {
    width: 80%;
    margin: 5px auto;
    height: 1px;
    background-color: #e4ebf3;
}

.body.darkmode .footer-divider {
    background-color: #000000;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 5px;
}


@media screen and (max-width: 950px) {
    /*
        NAVBAR KLEINER MACHEN (DONE) + MINI DROPDOWN (INFO UND ABOUT)
    */

    .rem {
        display: none;
    }

    .nav-dropdown {
        display: flex;
    }

    .nav-sub-menu {
        display: unset;
    }

    .nav-sub-menu.show {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 940px) {
    .content .wrapper .group {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 690px) {
    .content .wrapper {
        margin: 0 20px;
    }
    
    .nav-link {
        display: none;
        background: none;
    }

    .nav-elements {
        padding-left: 0;
    }

    .nav-dropdown {
        display: none;
    }

    .nav-big-dropdown {
        display: unset;
        padding-left: 30px;
    }

    .nav-big-sub-menu {
        display: none;
    }

    .nav-big-sub-menu.show {
        display: unset;
    }

    .nav-big-dropdown-text {
        display: unset;
    }

    .nav-big-dropdown-symbol {
        display: none;
    }

    .top {
        display: unset;
    }

    .placeholder {
        display: none;
    }

    .dmtoggle {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .content .wrapper {
        margin: 0 5px;
    }

    .content .wrapper .group h1 {
        margin: 15px 0;
        font-size: 24px;
        line-height: 18px;
    }

    .content .wrapper .group .list {
        padding-bottom: 10px;
    }

    .content .wrapper .group .list p {
        margin: 8px 24px 5px 24px;
        font-size: 14px;
        line-height: 22px;
    }

    .content .wrapper .group .list h2 {
        margin: 30px 20px 10px 20px;
        font-size: 18px;
        line-height: 16px;
    }

    .content .wrapper .group .list h3 {
        margin: 26px 20px 8px 20px;
        font-size: 16px;
    }

    .content .wrapper .group .list ul {
        margin: 8px 24px 5px 24px;
        padding: 0 0 0 15px;
    }

    .content .wrapper .group .list .sub {
        margin: 8px 8px 5px 8px;
        padding: 0 0 0 15px;
    }
    
    .content .wrapper .group .list ul li {
        font-size: 14px;
        line-height: 22px;
    }

    .content .wrapper .group .list ul li h3 {
        margin: 8px 0 4px 0;
        font-size: 16px;
    }

    /*
        NAVBAR -> NAV_LOGO_LONG (DONE) + DROPDOWN (DONE)
    */

    .nav-logo-long {
        display: flex;
    }

    .nav-logo {
        display: none;
    }

    .nav-wrapper {
        justify-content: space-between;
        margin: 0 25px;
    }
    
    .nav-elements {
        display: none;
    }

    .nav-container {
        display: none;
    }

    .nav-big-dropdown-text {
        display: none;
    }

    .nav-big-dropdown-symbol {
        display: unset;
        cursor: pointer;
    }

    .footer-blocks {
        flex-direction: column;
        gap: 40px;
        margin: 30px 0;
    }

    @media screen and (max-width: 380px) {
        .content .wrapper .group h1 {
            margin: 15px 0;
            font-size: 20px;
            line-height: 14px;
        }
    
        .content .wrapper .group .list {
            padding-bottom: 6px;
        }
    
        .content .wrapper .group .list p {
            margin: 6px 20px 5px 20px;
            font-size: 12px;
            line-height: 18px;
        }
    
        .content .wrapper .group .list h2 {
            margin: 30px 16px 10px 16px;
            font-size: 16px;
            line-height: 14px;
        }
    
        .content .wrapper .group .list h3 {
            margin: 22px 20px 8px 20px;
            font-size: 14px;
        }
    
        .content .wrapper .group .list ul {
            margin: 8px 20px 5px 20px;
            padding: 0 0 0 15px;
        }
    
        .content .wrapper .group .list .sub {
            margin: 8px 0 5px 0;
            padding: 0 0 0 15px;
        }
        
        .content .wrapper .group .list ul li {
            font-size: 12px;
            line-height: 18px;
        }
    
        .content .wrapper .group .list ul li h3 {
            margin: 8px 0 4px 0;
            font-size: 14px;
        }
    }
}