/*
.news {
	display: flex;
}

.news .group {
	padding: 15px 50px;
	background: white;
	border-radius: 8px;
	box-sizing: border-box;
}

.news .group .title {
	font-size: 20px;
	font-family: "Poppins", sans-serif;
}

.news .group .date {
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	color: #747474;
}

@media (max-width: 1000px) {
	.news .group {
		width: 90%;
	}
}*/

.date {
    width: 100%;
    text-align:end;
	color: #747474;
}

.summary {
    margin: 30px 15px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.more {
	background-color: #dddddd;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	margin: 0 15px;
	height: 60px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.more p {
    font-size: 22px;
    line-height: 26px;
	margin: 4px 0;
}

.more .arrow {
	display: flex;
}

.more .arrow .arr {
	height: 20px;
	width: 4px;
	background-color: black;
	border-radius: 5px;
	margin: 0 4px;
}

.arr-left {
	transform: rotate(135deg)
}

.arr-right {
	transform: rotate(-135deg)
}






.day-wrapper {
	display: flex;
    width: 840px;
    margin: 10px 0;
}

.day {
	width: 22%;
	margin: 0 1.5%;
    background-color: #8cde69;
    /*background: white;*/
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

.day:hover {
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);*/
    transition: .5s;
}

.day .list {
	display: flex;
    padding: 4px;
    border-radius: 10px 10px 20px 20px;
    background: #ffffff;
    box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .15);
    transition: margin-top .3s ease, padding-top .3s ease, box-shadow .3s ease;
}

.day:hover .list {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
}

.day .list img {
    border-radius: 10px 10px 20px 20px;
	width: 100%;
}

.day h1 {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 30px;
}