.content {
    margin: 50px 0;
}

.wrapper .buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    color: #1a1b1f;
    letter-spacing: 1px;
    line-height: inherit;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6CAF50;
    border: 0;
    border-radius: 5px;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: all 0.2s;
    margin-left: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.navigation .button {
    margin: 0 15px 0 0;
}

.wrapper .button:hover {
    background-color: #7fcd5d;
}

.blogpost {
    width: 840px;
    margin: 25px 0 10px 0;
    background-color: #8cde69;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.headline h1 {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 30px;
}

.headline h1, h2, h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	line-height: 1;
}

.blogpost .list {
	padding: 15px 30px 15px 30px;
	border-radius: 10px 10px 20px 20px;
    text-align: justify;
	background: #ffffff;
	box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .15);
	transition: margin-top .3s ease, padding-top .3s ease, box-shadow .3s ease;
}

.post {
    display: flex;
    margin: 40px 0 0 0;
}

.post.r {
    flex-direction: row-reverse;
}

.post .image {
    display: grid;
    align-items: center;
}

.post .image img {
    margin: 0 0 0 25px;
    max-width: 260px;
    border-radius: 16px;
}

.post.r .image img {
    margin: 0 25px 0 0;
}

.post .text {
    margin: 25px;
}

.post .text h2 {
    margin: 10px 20px;
}

.post .text h3 {
    margin: 10px 0 0 6px;
}

.post .text p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.info {
    margin: 30px 35px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}


@media screen and (max-width: 940px) {
    .blogpost {
        width: 100%;
    }

    .content .wrapper .blogpost {
        width: 95%;
    }
}

@media screen and (max-width: 650px) {
    .button {
        padding: 8px 18px;
    }
}

@media screen and (max-width: 600px) {
    .button {
        padding: 6px 12px;
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .button {
        padding: 4px 8px;
        font-size: 8px;
    }
}

@media screen and (max-width: 430px) {
    .button {
        padding: 3px 6px;
        font-size: 7px;
    }
}

@media screen and (max-width: 380px) {
    .button {
        padding: 2px 4px;
        font-size: 7px;
    }
}