.newscontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day-wrapper {
	display: flex;
    width: 840px;
    margin: 10px auto 32px auto;
}

@media screen and (min-width: 1775px) {
    .day-wrapper {
        margin: 10px 35% 32px 35%;
    }
}

.day {
	width: 22%;
	margin: 0 1.5%;
    background-color: #8cde69;
    /*background: white;*/
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: .5s;
	
    position: relative;
    overflow: hidden;
}

.day::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(76, 175, 80, 0.1), transparent);
    animation: shine 4s cubic-bezier(.34, 1.02, .73, 1) infinite;
}

.day:hover {
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);*/
    transition: .5s;
}

.day .list {
	display: flex;
    padding: 4px;
    border-radius: 10px 10px 20px 20px;
    background: #ffffff;
    box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .15);
    transition: margin-top .3s ease, padding-top .3s ease, box-shadow .3s ease;
}

.day:hover .list {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
}

.day .list img {
    border-radius: 10px 10px 20px 20px;
	width: 100%;
}

.day h1 {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 30px;
}

.news-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 50px;
    max-width: 840px;
}

.news-wrapper .instagram-media {
    width: 15px; !important
    max-width: none; !important
    min-width: 0; !important
    box-sizing: border-box; !important
}