.plan-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

.plan-wrapper a {
    text-decoration: none;
    color: #333;
}

.plan {
    width: 400px;
    margin: 10px 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.plan:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.plan h1 {
    text-align: center;
    margin: 15px auto 15px auto;
    font-size: 30px;
    line-height: 26px;
}

.plan .divider {
    height: 2px;
    background-color: #4caf50;
    margin: 10px;
}

.plan .preview {
    position: relative;
    top: -8%;
}

.plan .preview h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.plan .preview h2 {
    font-size: 12px;
    margin: 0px 26px;
}

.plan .preview p {
    font-size: 8px;
    margin: 0 34px;
}

.plan .preview img {
    width: 70%;
    margin: 0 auto;
}

.plan.left {
    margin-right: 20px;
}

.plan.right {
    margin-left: 20px;
}

.plan.right .preview {
    display: flex;
    flex-direction: column;
}

.plan .more {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.plan .more p {
    margin: 0;
    font-size: 20px;
    padding: 12px 38px;
    background-color: #4caf50;
    border-radius: 8px;
}

@media screen and (max-width: 640px) {
    .plan-wrapper {
        flex-wrap: wrap;
    }

    .plan.left {
        margin: 10px 0;
    }

    .plan.right {
        margin: 10px 0;
    }
}