.group .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: hidden;
	gap: 8px;
}

.group .list a img {
	transition: transform .25s ease;
}

.group .list a:hover img {
	transform: scale(1.05);
}

.gemeinden .list a {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

/* specific selection mandatory due to overwrite issues */
.content .wrapper .group.gemeinden .list a img {
	/*margin: 10px 9px 10px 9px;*/
	height: 100px;
	width: auto;
	margin: auto;
}

.content .wrapper .group.gemeinden .list a p {
	color: rgba(0, 0, 0, .85);
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
}

.firmen .sponsor a img {
	margin: 0 9px 5px 9px;
	height: 70px;
}

.firmen .sponsor a .rounded {
	border-radius: 10px;
}

.firmen .sponsor a h2 {
	display: none;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.private .list {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.private .list .loop {
	display: flex;
	animation: 30s slide infinite linear;
}

.private .list .loop .private {
	background-color: #3333;
	font-size: 21px;
	padding: 5px 12px;
	margin: 7px;
	border-radius: 5px;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
}

.private:hover .list .loop {
	animation-play-state: paused;
}

@media screen and (max-width: 800px) {
	.content .wrapper .group.gemeinden .list a img {
		height: 90px;
	}

	.content .wrapper .group.gemeinden .list a p {
		font-size: 15px;
	}

	.firmen .sponsor a img {
		height: 60px;
	}

	.private .list .loop .private {
		font-size: 19px;
	}
}

@media screen and (max-width: 700px) {
	.content .wrapper .group.gemeinden .list a img {
		height: 85px;
	}

	.content .wrapper .group.gemeinden .list a p {
		font-size: 14px;
	}
}

@media screen and (max-width: 650px) {
	.private .list .loop .private {
		font-size: 18px;
	}
}

@media screen and (max-width: 600px) {
	.content .wrapper .group.gemeinden .list a p {
		font-size: 13px;
	}

	.firmen .sponsor a img {
		height: 50px;
	}
}

@media screen and (max-width: 500px) {
	.private .list .loop .private {
		font-size: 16px;
		padding: 3px 8px;
	}
}

@media screen and (max-width: 450px) {
	.content .wrapper .group.gemeinden .list a img {
		height: 75px;
	}
}

@media screen and (max-width: 400px) {
	.firmen .sponsor a img {
		height: 40px;
	}
}