.plan {
    width: 840px;
    margin: 10px 0;
    background-color: rgb(234, 234, 234);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.h-wrapper {
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

.h-wrapper .month,
.h-wrapper .stockwerk {
    margin: 0 38px;
    color: #409443;
}

.h-wrapper h1 {
    font-size: 36px;
    margin: .75em 0;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.h-wrapper .days,
.h-wrapper .floors {
    display: flex;
    gap: 5px;
    align-items: center;
}

.days .d-wrapper,
.floors .f-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
}

.days .selected,
.floors .selected {
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.days .d-wrapper .day,
.floors .f-wrapper .floor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 26px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin: 4px;
    color: #4caf50;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.days .d-wrapper.selected .day,
.floors .f-wrapper.selected .floor {
    background-color: #4caf50A0;
    border-color: transparent;
    color: white;
}

.plan .box {
    border-radius: 25px;
    background-color: white;
    padding: 0 0 30px 0;
}

.plan .box .b-wrapper {
    display: none;
}

.plan .box .selected {
    display: flex;
    flex-direction: column;
}

.plan .box .b-wrapper h2 {
    margin: 40px 25px 20px 25px;
    font-size: 30px;
}

.plan .box .b-wrapper p {
    margin: 0 30px 0 40px;
    font-size: 20px;
}


.plan .box {
    border-radius: 25px;
    background-color: white;
    padding: 0 0 30px 0;
}

.plan .box .b-wrapper {
    display: none;
}

.plan .box .selected {
    display: flex;
    flex-direction: column;
}

.plan .box .b-wrapper h2 {
    margin: 40px 25px 20px 25px;
    font-size: 30px;
}

.plan .box .b-wrapper p {
    margin: 0 30px 0 40px;
    font-size: 20px;
}

.body.darkmode .content .wrapper .plan {
    color: #d3d3d3;
    background-color: #2f2f2f;
}

.body.darkmode .content .wrapper .plan .box {
    color: #d3d3d3;
    background-color: #212121;
}

.body.darkmode .content .wrapper .plan .selected {
    color: #d3d3d3;
    background-color: #212121;
}


@media screen and (max-width: 940px) {
    .content .wrapper .plan {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .h-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .h-wrapper h1 {
        font-size: 30px;
    }

    .days .d-wrapper,
    .floors .f-wrapper {
        padding: 4px 8px;
    }
}

@media screen and (max-width: 420px) {
    .plan .box {
        border-radius: 15px 15px 25px 25px;
    }

    .days .d-wrapper .day,
    .floors .f-wrapper .floor {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .plan .box .b-wrapper h2 {
        margin: 40px 25px 20px 25px;
        font-size: 25px;
    }
    
    .plan .box .b-wrapper p {
        margin: 0 30px 0 40px;
        font-size: 14px;
    }
}